#page-page{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(107.97deg, #065F7B 0%, #06667B 0.01%, rgba(255, 255, 255, 0) 100%), #15AB60;
    mix-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;

}

#page-page .content-wrapper{
    position: relative;

    width: 100vw;
    max-width: 1100px;

    height: 100vh;
    max-height: 680px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

#page-page .content-wrapper main{
    max-width: 350px;
}

#page-page .content-wrapper main h1{
    font-size: 150px;
    font-weight: 900;
    line-height: 140px;
    position: absolute;
    color: white;
    font-family: Nunito;
    left: 5%;
    right: 61.46%;
    top: 5%;    
    bottom: 32.32%;
}

.content-wrapper .enter-app{
    position: absolute;
    right: 12%;
    bottom: 21.7%;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: Nunito;
    text-decoration: none;
    width: 200px;
    height: 80px;
    background: #EE8B17;
    border-radius: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s;
}

.content-wrapper .enter-app:hover{
    background: #D87E15;
}

body{
    margin: 0px;
}